%div.ui.grid.container
  %div.six.wide.column
  %div.four.wide.column.some{ style: 'box-shadow: 0 20px 20px -20px #333' }
    %div.ui.form.header
      %h1
        Sign up
      %div.field
        %label
          Email
        %div.ui.left.icon.input
          %input.placeholder.text
          %i.mail.icon
      %div.field
        %label
          Username
        %div.ui.left.icon.input
          %input.placeholder.text
          %i.user.icon
      %div.field
        %label
          Password (1 characters minimum)
        %div.ui.left.icon.input
          %input.placeholder.text
          %i.unlock.alternate.icon
      %div.field
        %label
          Password confirmation
        %div.ui.left.icon.input
          %input.placeholder.text
          %i.unlock.alternate.icon
      %div.ui.checkbox
        %label
          Remember Me
    %div.ui.purple.submit.button
      Login
    %div.ui.divider
    %div.ui.list
      %div.item
        %a
          Log in
      %div.item
        %a
          Didn't receive confirmation instructions?
  %div.six.wide.column
