%div.ui.middle.aligned.centered.grid.container{style: 'height: 70%;'}

  %div.four.wide.column
    %div.ui.segment{ style: 'box-shadow: 5px 5px 20px -2px #A333C8 ; padding-bottom: 20px'}
      %div.ui.form.header
        %h1
          Sign up
        %div.field
          %label
            Email
          %div.ui.left.icon.mini.input
            %input.placeholder.text
            %i.mail.icon
        %div.field
          %label
            Username
          %div.ui.left.icon.mini.input
            %input.placeholder.text
            %i.user.icon
        %div.field
          %label
            Password (1 characters minimum)
          %div.ui.left.icon.mini.input
            %input{type: 'password'}
            %i.unlock.alternate.icon
        %div.field
          %label
            Password confirmation
          %div.ui.left.icon.mini.input
            %input{type: 'password'}
            %i.unlock.alternate.icon
        %div.ui.checkbox
          %label
            Remember Me
      %button.ui.purple.basic.big.button{style: "padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important; "}
        Login
      = render 'devise/shared/links'
