<%= fa_layered_icon do %>
  <%= fa_icon 'caret-up', class: 'color-green', size: '3x' %>
  <span class='fa-layers-text fa-inverse' data-fa-transform='shrink-6 down-3 right-5'>
    <%= power %>
  </span>
<% end %>
