.ui.inverted.menu.header
  %a{class: 'item', href: '/'}
    %img{src: '/assets/basic_logo.png'}
    %h2{type: 'text'}
      Stamp
  %a{class: 'item', href: '/users/133'}
    Leite mich zum magischen Nutzer
  .right.menu
    %div{class: 'item'}
      .ui.icon.input
        %input{placeholder: 'Search...', type: 'text'}
        %i.search.link.icon
    %a.ui{class: 'item'}
      Logout
