.ui.inverted.menu.header
  %a{class: 'item', href: '/'}
    %img{src: '/assets/basic_logo.png'}
    %h2{type: 'text'}
      Stamp
  %a{class: 'item', href: '/users/133'}
    Leite mich zum magischen Nutzer
  .right.menu
    %div{class: 'item'}
      .ui.icon.input
        %input{placeholder: 'Search...', type: 'text'}
        %i.search.link.icon
    - if user_signed_in?
      = link_to 'Profile', user_path(current_user), class: 'item'
      = link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: 'item'
    - else
      = link_to 'Sign In', new_user_session_path, class: 'item'
