<header>
  <nav class="navbar navbar-light bg-light">
    <%= link_to root_url do %>
      <%= image_tag('basic_logo.png', alt: 'Stamp Logo', width: 30, height: 30) %>
    <% end %>
    <%= link_to 'Sign In', new_user_session_path %>
  </nav>
</header>
