<% if @domain.stamps.send(title.parameterize.underscore).present? %>
  <% if local_assigns.fetch :header, true %>
    <h5>
      <%= title %>
      &nbsp;
      <%= fa_icon('angle-right') %>
    </h5>
  <% end %>
  <span style='<%= "display: none;" if hidden %>'>
    <% @domain.stamps.send(title.parameterize.underscore).order(percentage: :desc).each do |stamp| %>
      <%= render partial: 'partials/stamp', locals: { stamp: stamp, btn_class: btn_class ||= 'btn-info' } %>
    <% end %>
  </span>
<% end %>
