.ui.simple.top.right.dropdown.item{data: {controller: 'notifications'}}
  - if notifications.unread.exists?
    %i.inbox.purple.large.icon
    = notifications.unread.count
  - else
    %i.inbox.grey.large.icon
  .menu
    - notifications.limit(10).each do |notification|
      = render partial: 'notifications/notification', locals: { notification: notification }
