%div.ui.container
  %h1.header
    Most Activity
    %div.ui.divider{style: "margin-bottom: -5px;"}
  %div.ui.internally.celled.grid
    %div.eight.wide.column
      %div.sixteen.wide.column
        %h2.header
          safing.io
          %a
            %i.purple.external.icon
          %div.ui.divider{style: "margin-bottom: -5px;"}
      %div.ten.wide.column
        %div.ui.basic.segment
          %div.ui.grid
            %div.three.wide.column
              %h5.ui.middle.aligned.header
                Management
            %div.thirteen.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 39%; z-index: 10; "}
                    %div.progress
                      39%
                %div.ui.teal.small.progress{style: "background: white;"}
                  %div.bar.bartwo{style: "width: 49%; margin-top: -39px;"}

            %div.three.wide.column
              %h5.ui.middle.aligned.header
                Business
            %div.thirteen.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 80%; z-index: 10; "}
                    %div.progress
                      80%
                %div.ui.teal.small.progress{style: "background: white;"}
                  %div.bar.bartwo{style: "width: 60%; margin-top: -39px;"}
            %div.three.wide.column
              %h5.ui.middle.aligned.header
                ADS
            %div.thirteen.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 15%; z-index: 10; "}
                    %div.progress
                      15%
    %div.eight.wide.column
      %div.sixteen.wide.column
        %h2.header
          trello.com
          %a
            %i.purple.external.icon
          %div.ui.divider{style: "margin-bottom: -5px;"}
      %div.ten.wide.column
        %div.ui.basic.segment
          %div.ui.grid
            %div.three.wide.column
              %h5.ui.middle.aligned.header
                Management
            %div.thirteen.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 39%; z-index: 10; "}
                    %div.progress
                      39%
                %div.ui.teal.small.progress{style: "background: white;"}
                  %div.bar.bartwo{style: "width: 49%; margin-top: -39px;"}

            %div.three.wide.column
              %h5.ui.middle.aligned.header
                Business
            %div.thirteen.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 80%; z-index: 10; "}
                    %div.progress
                      80%
  %div.ui.container
    %h1.header
      Labels
    %div.ui.divider
  %div.ui.internally.celled.three.column.grid.container
    %div.row
      %div.column
        %h3.header
          Securit
        %div.ui.divider
        %div.ui.basic.segment{style: "padding: 0 0 0 1rem;"}
          %div.ui.grid{style: "margin-bottom: -47px;"}
            %div.six.wide.column
              %a{style: "color: #A333C8;", href: "https://trello.com"}
                gg.at
            %div.ten.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 70%; z-index: 10; margin-top: 4px; "}
                    %div.progress
                      70%
          %div.ui.grid{style: "margin-bottom: -47px;"}
            %div.six.wide.column
              %a{style: "color: #A333C8;", href: "https://trello.com"}
                trello.com
            %div.ten.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 65%; z-index: 10; margin-top: 4px; "}
                    %div.progress
                      65%
      %div.column
        %h3.header
          Privacy invasive
        %div.ui.divider
        %div.ui.basic.segment{style: "padding: 0 0 0 1rem;"}
          %div.ui.grid{style: "margin-bottom: -47px;"}
            %div.six.wide.column
              %a{style: "color: #A333C8;", href: "https://trello.com"}
                lalandamast.dream
            %div.ten.wide.column
              %div.bar.float.right
                %div.ui.purple.small.progress{style: "background: white;"}
                  %div.bar{style: "width: 15%; z-index: 10; margin-top: 4px; "}
                    %div.progress
                      15%

      %div.column
        %h3.header
          Spam
        %div.ui.divider
