%div.ui.two.column.grid.container
  %div.sixteen.wide.column
    %h1.header
      Stamp for trello.com
      %a
        %i.external.icon
    %div.ui.clearing.divider
  %div.ten.wide.column
    %div.ui.grid
      %div.sixteen.wide.column
        %h3
          Business
      %div.twelve.wide.column
        %div.ui.big.progress
          50%
      %div.four.wide.column
        %a
          %i.hand.caret.up.big.icon
        %a
          %i.hand.caret.down.big.icon
    %h3
      Comment
    %div.ui.clearing.divider
      %p
        Welcome to my lala land Welcome to my lala land Welcome to my lala land
        Welcome to my lala land Welcome to my lala land Welcome to my lala land
        Welcome to my lala land Welcome to my lala land Welcome to my lala land
        Welcome to my lala land Welcome to my lala land Welcome to my lala land
  %div.six.wide.column
    %h3
      Other Stamps of this domain
    %nbsp
      %div.ui.grid
        %div.five.wide.column
          %h4.ui.middle.aligned.header
            Management
        %div.eleven.wide.column
          %div.bar.float.right
            %div.ui.standard.top.progress
              39%
              %div.ui.tiny.buttom.orange.progress
                49%
        %div.five.wide.column
          %h4.ui.middle.aligned.header
            Business
        %div.eleven.wide.column
          %div.bar.float.right
            %div.ui.standard.top.progress
              39%
              %div.ui.tiny.buttom.orange.progress
                49%
        %div.five.wide.column
          %h4.ui.middle.aligned.header
            ADS
        %div.eleven.wide.column
          %div.bar.float.right
            %div.ui.big.progress
              40%
      %h3
        Suggested
        %button.ui.button
          Add Stamp
      %div.ui.clearing.divider
      %div.ui.grid
        %div.five.wide.column
          %h4.ui.middle.aligned.header
            Sport
        %div.eleven.wide.column
          %div.bar.float.right
            %div.ui.big.progress
              40%
        %div.five.wide.column
          %h4.ui.middle.aligned.header
            Animals
        %div.eleven.wide.column
          %div.bar.float.right
            %div.ui.big.progress
              40%
