%div.ui.grid.container
  %div.sixteen.wide.column
    %h1.header
      Stamp for trello.com
      %a
        %i.purple.external.icon
    %div.ui.divider{style: "margin-bottom: -5px;"}
  %div.ten.wide.column
    %div.ui.basic.segment
      %h3.ui.middle.aligned.header
        Business
      %div.ui.grid
        %div.twelve.wide.column
          %div.bar.float.right
            %div.ui.purple.progress{style: "background: white;"}
              %div.bar{style: "width: 80%; z-index: 10; "}
                %div.progress
                  80%
        %div.four.wide.column
          %div.ui.icon.buttons{style: "inline_flex;"}
            %div.ui.basic.purple.button.icon{style: "margin-bottom: 1rem; padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important;"}
              %i.hand.caret.up.big.icon
            %div.ui.basic.purple.button.icon{style: "margin-bottom: 1rem; padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important; "}
              %i.hand.caret.down.big.icon
    %div.ui.basic.segment
      %h3
        Comment
      %div.ui.divider
        %form.ui.form
          %div.field
            %textarea
          %button.ui.purple.basic.big.button{style: "margin-bottom: 1rem; padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important; "}
            %i.plus.icon
            Add Comment
  %div.six.wide.column
    %div.ui.basic.segment{style: "margin-bottom: -22px;"}
      %h3
        Other Stamps of this domain
        %div.ui.divider
      %div.ui.grid
        %div.four.wide.column
          %h5.ui.middle.aligned.header
            Management
        %div.twelve.wide.column
          %div.bar.float.right
            %div.ui.purple.small.progress{style: "background: white;"}
              %div.bar{style: "width: 39%; z-index: 10; "}
                %div.progress
                  39%
            %div.ui.teal.small.progress{style: "background: white;"}
              %div.bar.bartwo{style: "width: 49%; margin-top: -39px;"}

        %div.four.wide.column
          %h5.ui.middle.aligned.header
            Business
        %div.twelve.wide.column
          %div.bar.float.right
            %div.ui.purple.small.progress{style: "background: white;"}
              %div.bar{style: "width: 80%; z-index: 10; "}
                %div.progress
                  80%
            %div.ui.teal.small.progress{style: "background: white;"}
              %div.bar.bartwo{style: "width: 60%; margin-top: -39px;"}
        %div.four.wide.column
          %h5.ui.middle.aligned.header
            ADS
        %div.twelve.wide.column
          %div.bar.float.right
            %div.ui.purple.small.progress{style: "background: white;"}
              %div.bar{style: "width: 15%; z-index: 10; "}
                %div.progress
                  15%
    %div.ui.basic.segment
      %h3
        Suggested
        %button.ui.purple.basic.big.button{style: "margin-bottom: 1rem; padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important; "}
          Add Stamp
        %div.ui.divider{ style: "margin-top: 0px;"}
      %div.ui.grid
        %div.four.wide.column
          %h5.ui.middle.aligned.header
            Animals
        %div.twelve.wide.column
          %div.bar.float.right
            %div.ui.teal.small.progress{style: "background: white;"}
              %div.bar{style: "width: 70%; z-index: 10; "}
                %div.progress
                  70%

        %div.four.wide.column
          %h5.ui.middle.aligned.header
            Sport
        %div.twelve.wide.column
          %div.bar.float.right
            %div.ui.teal.small.progress{style: "background: white;"}
              %div.bar{style: "width: 55%; z-index: 10; "}
                %div.progress
                  55%
