<span id='users'>
  <div class='row'>
    <%= render partial: 'users/partials/profile_image' %>
    <%= render partial: 'users/partials/description' %>
    <%= render partial: 'users/partials/stats' %>
  </div>
</span>
