<div class='row'>
  <div class='col-4'>
    <h4><%= @user.username %></h4>
  </div>

  <div class='col-4'>
    <p>Reputation: <%= @user.reputation %></p>
  </div>

  <div class='col-4'>

  </div>
</div>
