%div.ui.middle.aligned.centered.grid.container{style: 'height: 70%;'}
  %div.row
    %div.six.wide.column
      %div.ui.segment{ style: 'box-shadow: 5px 5px 20px -2px #A333C8 ; padding-bottom: 20px'}
        %img.ui.centered.small.image{src: '/assets/basic_logo.png'}
        %div.ui.centered.form.header
          %h1.ui.icon.header
            New Domain
          %div.ui.search
            %div.ui.small.icon.input
              %input.prompt{placeholder: "https://", type: "text"}
                %i.search.icon
            %button.ui.purple.basic.huge.button{style: "margin-bottom: 1rem; padding: 6px; box-shadow: 0px 0px 2px 2px #A333C8 inset !important; "}
              Create
            %div.results
