%div.ui.two.column.grid.container
  %div.sixteen.wide.column
    %h2.header
      safing.io
      %i.external.alternate.icon
    %div.ui.divider
  %div.eleven.wide.column

    %div.ui.grid
      %div.three.wide.column
        %h4.ui.middle.aligned.header
          Management
      %div.thirteen.wide.column
        %div.bar.float.right
          %div.ui.standard.top.progress
            39%
            %div.ui.tiny.buttom.orange.progress
              49%
      %div.three.wide.column
        %h4.ui.middle.aligned.header
          Business
      %div.thirteen.wide.column
        %div.bar.float.right
          %div.ui.standard.top.progress
            39%
            %div.ui.tiny.buttom.orange.progress
              49%
      %div.three.wide.column
        %h4.ui.middle.aligned.header
          ADS
      %div.thirteen.wide.column
        %div.bar.float.right
          %div.ui.big.progress
            40%
    %h2
      Suggested
      %button.ui.button
        Add Stamp
    %div.ui.divider
    %div.ui.grid
      %div.three.wide.column
        %h4.ui.middle.aligned.header
          Sport
      %div.thirteen.wide.column
        %div.bar.float.right
          %div.ui.big.progress
            40%

      %div.three.wide.column
        %h4.ui.middle.aligned.header
          Animals
      %div.thirteen.wide.column
        %div.bar.float.right
          %div.ui.big.progress
            40%
  %div.five.wide.column
    %div.ui.relaxed.list
      %div.item
        %i.clock.outline.icon
        %div.content
          5 months ago
      %div.item
        %i.user.icon
        %div.content
          Karl Marx
      %div.item
        %i.history.icon
        %div.content
          1 months ago
      %div.ui.divider
    %div.ui.relaxed.list
      %h3.ui.header
        Subdomains
      %div.item
        %a
          assets.trello.com
