%div.ui.middle.aligned.centered.container{style: 'cursor: pointer;'}
  %table.ui.selectable.celled.table
    %thead
      %tr
        %th
          Name
        %th
          Description
    %tbody
      - @licences.each do |licence|
        %tr{ onclick: "location.href='#{licence_path(licence)}'"}
          %td= licence.name
          %td= licence.description
