.col-sm-9.col-md-6.description
  %h3= @user.username
  - # @user.description
  %p
    This is a story of my stamp life: I once was a stamp. Later I found out, instead of being a stamp, you could stamp the world. So I stopped being a stamp and became a stamper.
