= form_for @user, url: user_path(params[:id]), html: {class: %w[ui form]} do |f|
  = f.text_area :description, type: "text"
  = f.submit 'Save description', class: %w[ui purple basic button right floated]
= link_to user_path(params[:id]), class: 'ui basic purple button battle-button' do
  Back
