<div class='square text-center'>
  <div class='square-content border'>
    <div class='square-table'>
      <div class='square-table-cell'>
        <%= fa_icon 'user', size: size %>
      </div>
    </div>
  </div>
</div>
