- left_col_size ||= 4

.text-center.border-right{class: "col-#{left_col_size}"}
  💪 #{user.voting_power}
.text-center.p-0{class: "col-#{12 - left_col_size}"}
  = user.reputation
  %span.small.text-muted REP
