<div class="row reputation-holder">
  <div class="col-5 text-center voting-power">
    💪 <%= user.voting_power %>
  </div>
  <div class="col-7 text-center padding-0">
    <%= user.reputation %> <span class='small text-muted'>REP</span>
  </div>
</div>
