.color-red {
  color: $red;
}

.color-red_darken {
  color: $red_darken;
}

.color-red_darken_border {
  color: $red_darken_border;
}

.color-green {
  color: $green;
}

.color-green_darken {
  color: $green_darken;
}

.color-green_darken_border {
  color: $green_darken_border;
}
