.hidden {
  display: none !important;
}

.collapsible:hover {
  border-radius: 5px;
  background-color: #fbfbfb;
}

.default-color {
  color: $text_color;
}

.ui.button {
  margin-bottom: 8px;
  padding: 6px;

  &.mb0 {
    margin-bottom: 0px;
  }
}

.results .ui.label {
  margin-top: 0.34em !important;
  margin-bottom: 0.34em !important;
}

.purple_shiny {
  box-shadow: 5px 5px 20px -2px #A333C8 !important;
}

/*standard size*/
.ss {
  height: 1em;
  font-size: 1em;
}

.selected {
  background: #A333C833 !important;
  color: #A333C8 !important;
}

div {
  word-wrap: break-word !important;
}

a.disabled {
  pointer-events: none;
  cursor: text;
}

.ui.tag.label {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
