/*header*/
.item.slim {
  padding: 0 6px !important;
  i {
    font-size: 0.8em;
  }
}
.ui.header {
  border-radius: 0;

  .right.menu {
    i {
      padding-right: 4px;
    }

    .content {
      padding-left: 11px;
    }
  }
}

.small_stamp {
  font-size: 0.6rem;
}

content {
  flex: 1 0 auto;
}

/*footer*/
footer {
  flex-shrink: 0;
  margin-top: 10rem;
  img {
    height: 5rem;
  }
}
