#stamps {
  .row.second {
    padding: 20px 0;

    .row {
      padding: 15px 0;

      .row {
        padding: 5px 0;
      }
    }
  }

  .window {
    .window-header {
      .label-holder {
        .col-12 {
          font-size: 1em;
        }

        div:nth-child(2) {
          font-size: 2.1em;
        }
      }
    }
  }
}

.btn-accepted {
  color: white;
  background-color: #9e009e;
  border-color: #9e009e;

  &:hover {
    background-color: #7e007e;
    color: white;
    border-color: #6b006b;
  }
}

.btn-in-progress {
  color: white;
  background-color: #009e9e;
  border-color: #009e9e;

  &:hover {
    background-color: #007e7e;
    color: white;
    border-color: #006b6b;
  }
}

.btn-denied {
  color: white;
  background-color: $red;
  border-color: $red;

  &:hover {
    background-color: $red_darken;
    color: white;
    border-color: $red_darken_border;
  }
}
