#users {
  > .row:first-child {
    padding-top: 5%;

    .profile-holder {
      padding: 12% 12% 8% 12%;
    }

    .description {
      padding: 3%;

      h3 {
        margin-bottom: 2%;
      }
    }

    .row.user-stats {
      padding-top: 15%;
    }
  }
}

.profile-holder {
  border: 1px solid #ccc;
  padding: 12% 12% 12% 12%;
}

.square {
  position: relative;
  overflow:hidden;
  width: 100%;
  margin: 1.66%;
  padding-bottom: 100%;

  .square-content {
    position: absolute;
    height: 100%;
    width: 100%;

    .square-table {
      display: table;
      height: 100%;
      width: 100%;

      .square-table-cell {
        display: table-cell;
        height: 100%;
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}
