.window {
  a {
    color: $text_color;
  }

  .square {
    position: relative;
    overflow:hidden;
    width: 100%;
    margin: 1.66%;
    padding-bottom: 100%;

    .square-content {
      position: absolute;
      height: 100%;
      width: 100%;

      .square-table {
        display: table;
        height: 100%;
        width: 100%;

        .square-table-cell {
          display: table-cell;
          height: 100%;
          width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}
