%div.ui.container
  %div.ui.grid.divided
    %div.four.wide.column
      %h1
        %i.icon
        = @app.name
        = link_to "https://#{@app.link}" do
          %i.purple.external.small.icon
    %div.six.wide.column
      %div.ui.basic.segment
        = @app.description
    .six.wide.column
      %div.ui.basic.segment
        %i.big.icons
          %i.linux.icon{ class: ('disabled' unless @app.linux) }
          %i.corner.icon{ class: @app.linux ? 'checkmark green' : 'x disabled' }
        %i.big.icons
          %i.apple.icon{ class: ('disabled' unless @app.macos) }
          %i.corner.icon{ class: @app.macos ? 'checkmark green' : 'x disabled' }
        %i.big.icons
          %i.windows.icon{ class: ('disabled' unless @app.windows) }
          %i.corner.icon{ class: @app.windows ? 'checkmark green' : 'x disabled' }
  %div.ui.two.column.grid
    - if @app.flag_stamp.present?
      %div.column
        %div.ui.basic.segment{style: 'padding: 0;'}
          %h2
            Flags
            %i.info.small.blue.circle.icon.activating.element{ data: { content: "TODO: Add description", position: "right center" } }
        %div.ui.segment{style: 'padding-bottom: 3rem;'}
          %table.ui.celled.table{style: 'margin-bottom: 1px;'}
            %tbody
              %tr
                %td{ class: ('selected' if @app.flag_stamp.internet) }
                  Internet
                  %i.info.circle.icon.small.link{ data: { content: 'Allow connections to the Internet.', variation: 'mini' } }
                %td{ class: ('selected' if @app.flag_stamp.lan) }
                  LAN
                  %i.info.circle.icon.small.link{ data: { content: 'Allow connections to the local area network.', variation: 'mini' } }
                %td{ class: ('selected' if @app.flag_stamp.localhost) }
                  Localhost
                  %i.info.circle.icon.small.link{ data: { content: 'Allow connections to the local host.', variation: 'mini' } }
              %tr
                %td{ class: ('selected' if @app.flag_stamp.prompt) }
                  Prompt
                  %i.info.circle.icon.small.link{ data: { content: 'Prompt for decisions on new connections.', variation: 'mini' } }
                %td{ class: ('selected' if @app.flag_stamp.blacklist) }
                  Blacklist
                  %i.info.circle.icon.small.link{ data: { content: 'Allow all connections except those explicitly denied.', variation: 'mini' } }
                %td{ class: ('selected' if @app.flag_stamp.whitelist) }
                  Whitelist
                  %i.info.circle.icon.small.link{ data: { content: 'Block all connections except those explicitly allowed.', variation: 'mini' } }
              %tr
                %td{ class: ('selected' if @app.flag_stamp.p2p) }
                  P2P
                  %i.info.circle.icon.small.link{ data: { content: 'Allow program to directly communicate with peers (ie. anyone), without resolving DNS first.', variation: 'mini' } }
                %td{ class: ('selected' if @app.flag_stamp.server) }
                  Server
                  %i.info.circle.icon.small.link{ data: { content: 'Allow program to accept incoming connections and act as a server for other devices.', variation: 'mini' } }
                %td{style: 'background-color: lightgray;'}

:javascript
  $('.info.circle.icon.link')
    .popup({
      position: 'right center'
  });

-#
    %div.column{style: 'padding-left: 8rem;'}
      %div.ui.basic.segment{style: 'padding: 0;'}
        %h2
          Identifier
          %i.info.small.blue.circle.icon.activating.element{ data: {content: "Add users to your feed",position: "right center"}}
      %div.ui.segments
        %div.ui.segment
          %div.ui.grid
            %div.two.wide.column
              %i.windows.big.icon{style: 'float: left;'}
            %div.ten.wide.column
              %p{style: 'margin: 0;'}
                Path: C:/veqffvev
              %p
                id: sdvdvsvv
          %div.ui.bottom.right.attached.label
            %i.gavel.icon
        %div.ui.segment
          %div.ui.grid
            %div.two.wide.column
              %i.apple.big.icon{style: 'float: left;'}
            %div.ten.wide.column
              %p{style: 'margin: 0;'}
                Path: C:/veqffvev
              %p
                id: sdvdvsvv
          %div.ui.bottom.right.attached.label
            %i.check.icon
            %i.add.icon
        %div.ui.segment
          %div.ui.middle.aligned.grid
            %div.two.wide.column
              %i.big.icons{style: 'float: left;'}
                %i.linux.icon{style: 'float: left;'}
                %i.purple.left.corner.add.icon
            %div.ten.wide.column
              %h2
                Help Us!
