@import 'bootstrap';
@import 'bootstrap_right_offset';
@import 'font_awesome5';

@import 'partials/variables';

@import 'partials/colors';
@import 'partials/domains';
@import 'partials/stamps';

.row {
  padding: 10px 0 0 0;
}

.hidden {
  display: none;
}

.alert:first-child {
  margin-top: 1em;
}
