<span class="homepage">
  <div class="row content-header align-items-center" style="height: 500px;">
    <div class="col-7">
      <%= image_tag 'stamp_intro_j3rik0_no_text.png', style: 'width: 100%;'%>
    </div>
    <div class="col-5">
      <h1>Stamping the Internet</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-2 offset-2">
      <%= fa_icon 'user', size: '5x' %>
    </div>
    <div class="col-6 offset-right-2">
      <h2>Manage the worlds metadata</h2>
      <p class="lead">Stamp is a community which categorises the web: this site is all about Music, this one is malicious, and this one is pure Gambling</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-6 offset-2">
      <h2>Share our Knowledge</h2>
      <p class="lead">All collected data is available via our APIs. This way you can build cool stuff and leave the data management up to us.</p>
    </div>
    <div class="col-2 offset-right-2 text-center">
      <%= fa_icon 'database', size: '5x' %>
    </div>
  </div>
</span>
