%span.homepage
  .row.content-header.align-items-center{:style => "height: 500px;"}
    .col-7
      = image_tag 'stamp_intro_j3rik0_no_text.png', style: 'width: 100%;'
    .col-5
      %h1 Stamping the Internet
  .row.align-items-center
    .col-2.offset-2
      = fa_icon 'user-check', size: '5x'
    .col-6.offset-right-2
      %h2 Manage the worlds metadata
      %p.lead Stamp is a community that categorizes the web: this site is all about Music, this one is malicious, and this one is pure Gambling
  .row.align-items-center
    .col-6.offset-2
      %h2 Share our Knowledge
      %p.lead All collected data is available via our APIs. This way you can build cool stuff and leave the data management up to us.
    .col-2.offset-right-2.text-center
      = fa_icon 'database', size: '5x'
