.ui.huge.icon.vertical.buttons
  %button.ui.button.icon{style: "padding: 0px; background-color: white;"}
    %i.caret.fitted.hand.huge.purple.icon.up
  %button.ui.button.icon{style: "padding: 0px; background-color: white;"}
    %i.caret.fitted.flipped.grey.hand.huge.icon.up.vertically
