.ui.two.cards
  .card
    .content
      %div
        %span.ui.header.green
          Good
        %span.ui.header
          Stamp
      .ui.divider

      .ui.centered.grid
        .eight.wide.middle.aligned.column
          %h4 Ads
        .eight.wide.column
          .ui.icon.vertical.buttons
            %button.ui.button.icon{style: "padding: 0px; background-color: white;"}
              %i.fitted.huge.green.caret.up.icon
            %button.ui.button.icon{style: "padding: 0px; background-color: white;"}
              %i.fitted.vertically.flipped.huge.grey.caret.up.icon
      .ui.large.top.right.attached.purple.label
        In Progress
  .card
    .content
      %div
        %span.ui.header.red
          Bad
        %span.ui.header
          Stamp
      .ui.divider

      .ui.centered.grid
        .eight.wide.middle.aligned.column
          %h4 Ads
        .eight.wide.column
          .ui.icon.vertical.buttons
            %button.ui.button.icon{style: "padding: 0px; background-color: white;"}
              %i.fitted.huge.grey.caret.up.icon
            %button.ui.button.icon{style: "padding: 0px; background-color: white;"}
              %i.fitted.vertically.flipped.huge.red.caret.up.icon
      .ui.large.top.right.attached.purple.label
        In Progress
