.ui.grid
  .eight.wide.column
    .ui.segment
      %h3.header
        Stamp for
        %a{href: '#'}adservice.google.com
      .ui.divider
      .ui.centered.grid
        .row
          %h4
            Ads
            %i.green.checkmark.icon
      .ui.large.top.right.attached.green.label
        Accepted
  .eight.wide.column.middle.aligned
    .ui.divided.list
      .item
        %i.green.plus.icon
        .content
          .header
            +10 Portmaster
          .description
            created 3 days ago
      .item
        %i.large.red.caret.down.icon
        .content
          .header
            \-10 Randy Marsh
          .description
            downvoted 4 hours ago
      .item
        %i.large.green.caret.up.icon
        .content
          .header
            +5 Strong Woman
          .description
            upvoted 2 days ago
      .item
        %i.large.green.caret.up.icon
        .content
          .header
            +5 PC Principle
          .description
            upvoted 2 days ago
