.ui.three.cards
  .card
    .content
      .ui.image
        = image_tag 'guides/tour/eyebrow_rick.png'
      .ui.small.header
        Eyebrow Rick
      .ui.list
        .item
          %i.icon
            REP
          .content
            %b 1
        .item
          %i.large.icon
            %b 1
          .content
            Voting Power
        .item
          %i.checkmark.green.icon
          .content
            Label Stamp
        .item
          %i.x.red.icon
          .content
            Flag Stamp
  .card
    .content
      .ui.image
        = image_tag 'guides/tour/lucy_scarf.png'
      .ui.small.header
        Lucy Scarf
      .ui.list
        .item
          %i.icon
            REP
          .content
            %b 90
        .item
          %i.large.icon
            %b 2
          .content
            Voting Power
        .item
          %i.checkmark.green.icon
          .content
            Label Stamp
        .item
          %i.checkmark.green.icon
          .content
            Flag Stamp
  .card
    .content
      .ui.image
        = image_tag 'guides/tour/shining_sam.png'
      .ui.small.header
        Shining Sam
      .ui.list
        .item
          %i.icon
            REP
          .content
            %b 103
        .item
          %i.large.icon
            %b 3
          .content
            Voting Power
        .item
          %i.checkmark.green.icon
          .content
            Label Stamp
        .item
          %i.checkmark.green.icon
          .content
            Flag Stamp
